* {
  box-sizing: border-box;
}


.hidden {
	display: none;
}

.main-header {
	padding-bottom: 15px;
	background-color: #C7D59F;
	text-align: center;
	margin-bottom: 80px;
	color: #4B5842;
	border: 2px solid #4B5842;
	border-radius: 6px;
	margin-left: auto;
	margin-right: auto;
}

.results-div {
	text-align: center;
	margin-top: 30px;
}

.theFoods {
	margin-bottom: 15px;
	font-size: 22px;
}

.food-name {
	background:none;
  border:none;
	color: #8FB339;
	font-size: 22px;
}

.food-name:hover {
	color: #C7D59F;
}

h1 {
	/*display: inline-block;
	padding: 5px;*/
	font-size: 48px;
	/*background-color: #B7CE63;
	border: .5px solid #4B5842;
	border-radius: 6px;*/
}
.header-button, .edit-goals-button, .delete-food-button, .add-a-food, .food-search-button {
	font-size: 19px;
	padding: 13px;
	background-color: #8FB339;
	color: #4B5842;
	border: 1.5px solid #4B5842;
	border-radius: 6px;
	margin-bottom: 10px;
	text-shadow: 1px 1px #DADDD8;
	font-weight: bold;
}

.header-button:hover, .main-button:hover, .delete-food-button:hover, .add-a-food:hover, .food-search-button:hover {
	background-color: #C7D59F;
}

.main-button, .change-goals-button, .see-all-food-button {
	margin-top: 40px;
	font-size: 20px;
	padding: 13px;
	background-color: #8FB339;
	color: #4B5842;
	border: 1.5px solid #4B5842;
	border-radius: 6px;
	text-shadow: 1px 1px #DADDD8;
	font-weight: bold;
}

.signup-form, .nutrition-search-form, .login-form {
	text-align: center;
}

.signup-div, .login-form-div {
	text-align: center;
}

.login-field {
	margin-bottom: 25px;
}

.signup-label {
	font-weight: bold;
	color: #4B5842;
	font-size: 23px;
}

.signup-field {
	margin-bottom: 35px;
}

.signup-form, .login-form {
	border: 2px solid #4B5842;
	border-radius: 6px;
	display: inline-block;
	padding: 40px;
	background-color: #C7D59F;
	color: #4B5842;
}

.login-form {
	padding-left: 20%;
	padding-right: 20%;
}

.signup-legend {
	font-weight: bold;
	margin-bottom: 65px;
	font-size: 28px;
	color: #4B5842;
}

.goals-legend {
	margin-bottom: 65px;
	color: #4B5842;
	font-weight: bold;
}

.signup-input, .login-input {
	background-color: white;
	color: #4B5842;
}

.signup-input, .signup-label, .login-label {
	display: block;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto
}

.nutrition-search-legend, .login-legend {
	font-size: 28px;
	color: #4B5842;
	font-weight: bold;
}

.login-legend {
	margin-bottom: 45px;
}

.login-label {
	font-weight: bold;
	color: #4B5842;
	font-size: 23px;
}

.nutrition-search-legend {
	margin-bottom: 42px;
}

.search-nutrition-label, .search-nutrition-input {
	color: #4B5842;
	font-size: 23px;
}

.search-nutrition-label {
	font-weight: bold;
}

.search-food-div {
	margin-bottom: 21px;
}

.username-input, .password-input, .search-nutrition-input, .first-name-input, .last-name-input, .username-input-login, .password-input-login, .first-name-input-login, .last-name-input-login {
	margin-bottom: 10px;
	font-size: 20px;
}

.main-button, .food-search-button {
	font-size: 20px;
}

.pop-outer, .pop-outer-goals, .pop-outer-food-entries {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.pop-inner {
  padding: 25px;
  text-align: center;
  width: 100%;
  padding: 25px;
  display: inline-block;
  border: 2px solid #4B5842;
	border-radius: 6px;
	padding: 5% 9%;
	background-color: #C7D59F;
	width: 100%;
}

.food-modal-text {
	font-size: 32px;
	color: #4B5842;
}

.food-modal-header {
	font-size: 32px;
	color: #4B5842;
}

.pop-inner-content {
	background-color: #DADDD8;
	padding: 25px;
	border: 2px solid #4B5842;
	border-radius: 6px;
}

.pop-inner-goals, .pop-inner-food-entries {
  margin-top: 100px;
  text-align: center;
  /*width: 520px;
  height: 420px;*/
  padding: 25px;
  padding-bottom: 50px;
  /*border: 3px darkgrey solid;*/
  font-size: 30px;
}

.pop-outer-food-entries, .pop-outer {
	text-align: center;
}





.pop-inner-food-entries {
	display: inline-block;
	border: 2px solid #4B5842;
	border-radius: 6px;
	text-align: center;
	padding: 5% 9%;
	background-color: #C7D59F;
	width: 100%;
}

.food-entry-div {
	background-color: #DADDD8;
	padding: 8% 8%;
	margin-bottom: 40px;
	border: 2px solid #4B5842;
	border-radius: 6px;
}

.food-list-text-header, .food-list-paragraph, .food-list-name {
	color: #4B5842;
}

.nutrients-goals-form {
	background-color: #C7D59F;
	display: inline-block;
	padding: 25px;
	width: 100%;
	font-size: 30px;
	margin-bottom: 30px;
	border: 2px solid #4B5842;
	border-radius: 6px;
}

.goals-field {
	margin-bottom: 70px;
}

.goals-input {
	font-size: 20px;
	color: #4B5842;
}

.goals-form-nutrient-header, .goals-label {
	color: #4B5842;
	font-size: 27px;
}

.pop-inner-food-entries, .pop-inner-goals {
	max-height: calc(100vh - 210px);
  overflow-y: auto;
}


.goals-page, .progress-page, .nutrition-tracking, .long-term-progress, .progress-page-header {
	text-align: center;
}

.my-goals-header {
	font-size: 48px;
	color: #4B5842;
}

.goals-list-nutrient-header, .food-results-header {
	font-size: 35px;
	color: #4B5842;
}

.goals-list-nutrient-paragraph {
	font-size: 26px;
	color: #4B5842;
}

.goals-amount-range {
	background-color: #DADDD8;
	padding: 8% 21%;
	margin-bottom: 40px;
	border: 2px solid #4B5842;
	border-radius: 6px;
}

.goals-page-inner {
	max-width: 100%;
	display: inline-block;
	border: 2px solid #4B5842;
	border-radius: 6px;
	text-align: center;
	padding: 5% 9%;
	background-color: #C7D59F;
	width: 100%;
}

.nutrition-search-form-div {
	text-align: center;
}

.nutrition-search-form {
	text-align: center;
	/*border: 2px solid #4B5842;
	border-radius: 6px;*/
	display: inline-block;
	padding: 40px;
	/*background-color: #C7D59F;*/
	color: #4B5842;
}

@media only screen and (min-width: 640px) {
	.goals-page-inner {
	 	max-width: 640px;
	 }

	 .signup-label, .signup-input, .login-label, .login-input {
	 	display: inline;
	 }

	 .login-form {
	 	padding: 40px;
	 }
}

.goals-input, .goals-label {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.goals-input {
	margin-bottom: 20px;
}

.goals-label {
	margin-bottom: 10px;
}




@media only screen and (min-width: 770px) {
	.goals-input, .goals-label {
		display: inline;
	}
}

@media only screen and (min-width: 960px) {
	 .progress-page-inner {
		max-width: 960px;
	 }

	 .pop-inner-food-entries {
	   max-width: 960px;
	 }

	 .pop-inner {
	 	 max-width: 960px;
	 }
}

.long-term-progress-title {
	font-weight: bold;
}

.long-term-progress-number {
	margin-bottom: 60px;
}

.progress-page-inner {
	text-align: center;
	display: inline-block;
	border: 2px solid #4B5842;
	border-radius: 6px;
	padding: 5% 9%;
	background-color: #C7D59F;
	width: 100%;
}

.progress-page-inner-section {
	background-color: #DADDD8;
	padding: 8% 8%;
	margin-bottom: 40px;
	border: 2px solid #4B5842;
	border-radius: 6px;
}

.progress-page {
	text-align: center;
}

.calories-today, .fat-today, .protein-today, .carbs-today {
	font-size: 26px;
	color: #4B5842;
}

.progress-page-header {
	font-size: 35px;
	color: #4B5842;
}

.long-term-progress-paragraph {
	font-size: 26px;
	color: #4B5842;
}

.transparent-background {
	opacity: 0;
}

.red-color {
	color: red;
}

.green-color {
	color: green;
}

.line-through {
	text-decoration: line-through;
}

.see-all-food-button-div {
	text-align: center;
}









